
    <div id="banner" class="banner full-screen-mode">
        <div class="container pr">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="banner-static">
                    <div class="banner-text">
                        <div class="banner-cell">
                            <h1>404  Page <span class="typer" id="some-id" data-delay="200" data-delim=":"data-words=" Not found : may be deleted" data-colors="red"></span><span class="cursor" data-cursorDisplay="_" data-owner="some-id"></span></h1>
                           <h2>Sorry. We can't find a page.</h2>
                            <p>
                              The Page you are looking for might have a removed, had its name changed, or its temporarily unavailable.
                            </p>  
                                <div class="book-btn">
                                    <a class="table-btn hvr-underline-from-center" href="{{front_page}}">
                                        Go Home
                                    </a>
                                </div>
                        </div>
                        <!-- end banner-cell -->
                    </div>
                    <!-- end banner-text -->
                </div>
                <!-- end banner-static -->
            </div>
            <!-- end col -->
        </div>
        <!-- end container -->
    </div>
    <!-- end banner -->