 <div class="item" style="background: url({{fields.field_image.content}});"> 
      <div class="caption">
           <div class="container">
                <div class="col-md-8 col-sm-12">
                     <h3>{{fields.field_subtitle.content}}</h3>
                     <h1>{{fields.title.content}}</h1>
                     {{fields.field_link.content}}
                </div>
           </div>
      </div>
 </div>
